@font-face {
    font-family: 'icons';
    src:    url('fonts/icons3fe8.eot?vwl7ny');
    src:    url('fonts/icons3fe8.eot?vwl7ny#iefix') format('embedded-opentype'),
        url('fonts/icons3fe8.ttf?vwl7ny') format('truetype'),
        url('fonts/icons3fe8.woff?vwl7ny') format('woff'),
        url('fonts/icons3fe8.svg?vwl7ny#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
    content: "\e900";
}
.icon-airplay:before {
    content: "\e901";
}
.icon-alarm:before {
    content: "\e902";
}
.icon-album:before {
    content: "\e903";
}
.icon-albums:before {
    content: "\e904";
}
.icon-anchor:before {
    content: "\e905";
}
.icon-angle-down:before {
    content: "\e906";
}
.icon-angle-down-circle:before {
    content: "\e907";
}
.icon-angle-left:before {
    content: "\e908";
}
.icon-angle-left-circle:before {
    content: "\e909";
}
.icon-angle-right:before {
    content: "\e90a";
}
.icon-angle-right-circle:before {
    content: "\e90b";
}
.icon-angle-up:before {
    content: "\e90c";
}
.icon-angle-up-circle:before {
    content: "\e90d";
}
.icon-arc:before {
    content: "\e90e";
}
.icon-attention:before {
    content: "\e90f";
}
.icon-back:before {
    content: "\e910";
}
.icon-back-2:before {
    content: "\e911";
}
.icon-ball:before {
    content: "\e912";
}
.icon-bandaid:before {
    content: "\e913";
}
.icon-battery:before {
    content: "\e914";
}
.icon-bell:before {
    content: "\e915";
}
.icon-bicycle:before {
    content: "\e916";
}
.icon-bluetooth:before {
    content: "\e917";
}
.icon-bookmarks:before {
    content: "\e918";
}
.icon-bottom-arrow:before {
    content: "\e919";
}
.icon-box1:before {
    content: "\e91a";
}
.icon-box2:before {
    content: "\e91b";
}
.icon-browser:before {
    content: "\e91c";
}
.icon-calculator:before {
    content: "\e91d";
}
.icon-call:before {
    content: "\e91e";
}
.icon-camera:before {
    content: "\e91f";
}
.icon-car:before {
    content: "\e920";
}
.icon-cart:before {
    content: "\e921";
}
.icon-cash:before {
    content: "\e922";
}
.icon-chat:before {
    content: "\e923";
}
.icon-check:before {
    content: "\e924";
}
.icon-clock:before {
    content: "\e925";
}
.icon-close:before {
    content: "\e926";
}
.icon-close-circle:before {
    content: "\e927";
}
.icon-cloud:before {
    content: "\e928";
}
.icon-cloud-download:before {
    content: "\e929";
}
.icon-cloud-upload:before {
    content: "\e92a";
}
.icon-coffee:before {
    content: "\e92b";
}
.icon-comment:before {
    content: "\e92c";
}
.icon-compass:before {
    content: "\e92d";
}
.icon-config:before {
    content: "\e92e";
}
.icon-copy-file:before {
    content: "\e92f";
}
.icon-credit:before {
    content: "\e930";
}
.icon-crop:before {
    content: "\e931";
}
.icon-culture:before {
    content: "\e932";
}
.icon-cup:before {
    content: "\e933";
}
.icon-date:before {
    content: "\e934";
}
.icon-delete-user:before {
    content: "\e935";
}
.icon-diamond:before {
    content: "\e936";
}
.icon-disk:before {
    content: "\e937";
}
.icon-diskette:before {
    content: "\e938";
}
.icon-display1:before {
    content: "\e939";
}
.icon-display2:before {
    content: "\e93a";
}
.icon-door-lock:before {
    content: "\e93b";
}
.icon-download:before {
    content: "\e93c";
}
.icon-drawer:before {
    content: "\e93d";
}
.icon-drop:before {
    content: "\e93e";
}
.icon-edit:before {
    content: "\e93f";
}
.icon-exapnd2:before {
    content: "\e940";
}
.icon-expand1:before {
    content: "\e941";
}
.icon-eyedropper:before {
    content: "\e942";
}
.icon-female:before {
    content: "\e943";
}
.icon-file:before {
    content: "\e944";
}
.icon-film:before {
    content: "\e945";
}
.icon-filter:before {
    content: "\e946";
}
.icon-flag:before {
    content: "\e947";
}
.icon-folder:before {
    content: "\e948";
}
.icon-gift:before {
    content: "\e949";
}
.icon-glasses:before {
    content: "\e94a";
}
.icon-gleam:before {
    content: "\e94b";
}
.icon-global:before {
    content: "\e94c";
}
.icon-graph:before {
    content: "\e94d";
}
.icon-graph1:before {
    content: "\e94e";
}
.icon-graph2:before {
    content: "\e94f";
}
.icon-graph3:before {
    content: "\e950";
}
.icon-gym:before {
    content: "\e951";
}
.icon-hammer:before {
    content: "\e952";
}
.icon-headphones:before {
    content: "\e953";
}
.icon-helm:before {
    content: "\e954";
}
.icon-help1:before {
    content: "\e955";
}
.icon-help2:before {
    content: "\e956";
}
.icon-home:before {
    content: "\e957";
}
.icon-hourglass:before {
    content: "\e958";
}
.icon-id:before {
    content: "\e959";
}
.icon-info:before {
    content: "\e95a";
}
.icon-joy:before {
    content: "\e95b";
}
.icon-junk:before {
    content: "\e95c";
}
.icon-key:before {
    content: "\e95d";
}
.icon-keypad:before {
    content: "\e95e";
}
.icon-leaf:before {
    content: "\e95f";
}
.icon-left-arrow:before {
    content: "\e960";
}
.icon-less:before {
    content: "\e961";
}
.icon-light:before {
    content: "\e962";
}
.icon-like:before {
    content: "\e963";
}
.icon-like2:before {
    content: "\e964";
}
.icon-link:before {
    content: "\e965";
}
.icon-lintern:before {
    content: "\e966";
}
.icon-lock:before {
    content: "\e967";
}
.icon-look:before {
    content: "\e968";
}
.icon-loop:before {
    content: "\e969";
}
.icon-magic-wand:before {
    content: "\e96a";
}
.icon-magnet:before {
    content: "\e96b";
}
.icon-mail:before {
    content: "\e96c";
}
.icon-mail-open:before {
    content: "\e96d";
}
.icon-mail-open-file:before {
    content: "\e96e";
}
.icon-male:before {
    content: "\e96f";
}
.icon-map:before {
    content: "\e970";
}
.icon-map-2:before {
    content: "\e971";
}
.icon-map-marker:before {
    content: "\e972";
}
.icon-medal:before {
    content: "\e973";
}
.icon-menu:before {
    content: "\e974";
}
.icon-micro:before {
    content: "\e975";
}
.icon-monitor:before {
    content: "\e976";
}
.icon-moon:before {
    content: "\e977";
}
.icon-more:before {
    content: "\e978";
}
.icon-mouse:before {
    content: "\e979";
}
.icon-music:before {
    content: "\e97a";
}
.icon-musiclist:before {
    content: "\e97b";
}
.icon-mute:before {
    content: "\e97c";
}
.icon-network:before {
    content: "\e97d";
}
.icon-news-paper:before {
    content: "\e97e";
}
.icon-next:before {
    content: "\e97f";
}
.icon-next-2:before {
    content: "\e980";
}
.icon-note:before {
    content: "\e981";
}
.icon-note2:before {
    content: "\e982";
}
.icon-notebook:before {
    content: "\e983";
}
.icon-paint:before {
    content: "\e984";
}
.icon-paint-bucket:before {
    content: "\e985";
}
.icon-paperclip:before {
    content: "\e986";
}
.icon-paper-plane:before {
    content: "\e987";
}
.icon-pen:before {
    content: "\e988";
}
.icon-pendrive:before {
    content: "\e989";
}
.icon-phone:before {
    content: "\e98a";
}
.icon-photo:before {
    content: "\e98b";
}
.icon-photo-gallery:before {
    content: "\e98c";
}
.icon-piggy:before {
    content: "\e98d";
}
.icon-pin:before {
    content: "\e98e";
}
.icon-plane:before {
    content: "\e98f";
}
.icon-play:before {
    content: "\e990";
}
.icon-plug:before {
    content: "\e991";
}
.icon-plugin:before {
    content: "\e992";
}
.icon-plus:before {
    content: "\e993";
}
.icon-portfolio:before {
    content: "\e994";
}
.icon-power:before {
    content: "\e995";
}
.icon-prev:before {
    content: "\e996";
}
.icon-print:before {
    content: "\e997";
}
.icon-radio:before {
    content: "\e998";
}
.icon-refresh:before {
    content: "\e999";
}
.icon-refresh-2:before {
    content: "\e99a";
}
.icon-refresh-cloud:before {
    content: "\e99b";
}
.icon-repeat:before {
    content: "\e99c";
}
.icon-ribbon:before {
    content: "\e99d";
}
.icon-right-arrow:before {
    content: "\e99e";
}
.icon-rocket:before {
    content: "\e99f";
}
.icon-safe:before {
    content: "\e9a0";
}
.icon-science:before {
    content: "\e9a1";
}
.icon-scissors:before {
    content: "\e9a2";
}
.icon-search:before {
    content: "\e9a3";
}
.icon-server:before {
    content: "\e9a4";
}
.icon-settings:before {
    content: "\e9a5";
}
.icon-share:before {
    content: "\e9a6";
}
.icon-shield:before {
    content: "\e9a7";
}
.icon-shopbag:before {
    content: "\e9a8";
}
.icon-shuffle:before {
    content: "\e9a9";
}
.icon-signal:before {
    content: "\e9aa";
}
.icon-smile:before {
    content: "\e9ab";
}
.icon-speaker:before {
    content: "\e9ac";
}
.icon-star:before {
    content: "\e9ad";
}
.icon-stopwatch:before {
    content: "\e9ae";
}
.icon-study:before {
    content: "\e9af";
}
.icon-sun:before {
    content: "\e9b0";
}
.icon-switch:before {
    content: "\e9b1";
}
.icon-target:before {
    content: "\e9b2";
}
.icon-ticket:before {
    content: "\e9b3";
}
.icon-timer:before {
    content: "\e9b4";
}
.icon-tools:before {
    content: "\e9b5";
}
.icon-trash:before {
    content: "\e9b6";
}
.icon-umbrella:before {
    content: "\e9b7";
}
.icon-unlock:before {
    content: "\e9b8";
}
.icon-up-arrow:before {
    content: "\e9b9";
}
.icon-upload:before {
    content: "\e9ba";
}
.icon-usb:before {
    content: "\e9bb";
}
.icon-user:before {
    content: "\e9bc";
}
.icon-user-female:before {
    content: "\e9bd";
}
.icon-users:before {
    content: "\e9be";
}
.icon-vector:before {
    content: "\e9bf";
}
.icon-video:before {
    content: "\e9c0";
}
.icon-voicemail:before {
    content: "\e9c1";
}
.icon-volume:before {
    content: "\e9c2";
}
.icon-volume1:before {
    content: "\e9c3";
}
.icon-volume2:before {
    content: "\e9c4";
}
.icon-wallet:before {
    content: "\e9c5";
}
.icon-way:before {
    content: "\e9c6";
}
.icon-wine:before {
    content: "\e9c7";
}
.icon-world:before {
    content: "\e9c8";
}
.icon-wristwatch:before {
    content: "\e9c9";
}

